# SPDX-License-Identifier: Apache-2.0
# Copyright 2020 - 2026 Pionix GmbH and Contributors to EVerest

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# cypress
cypress/videos
cypress/screenshots

# schemas
/public/schemas/*.json

# vitest
/coverage

# spec-kit
.github/copilot-instructions.md
.github/agents
.github/prompts
.github/workflows/speckit.yml
.specify/scripts
.specify/templates

