// SPDX-License-Identifier: Apache-2.0
// Copyright 2020 - 2026 Pionix GmbH and Contributors to EVerest

html {
  scrollbar-color: rgba(var(--v-theme-on-background), var(--v-disabled-opacity)) rgb(var(--v-theme-background));
}

.splitpanes__pane {
  background-color: transparent !important;
  overflow: hidden scroll !important;
  padding: 0;

  &:nth-of-type(3) {
    overflow-y: hidden !important;
  }
}

.splitpanes__splitter {
  background-color: rgba(var(--v-theme-on-background), 0.12) !important;
  z-index: 10 !important;
}

.default-theme.splitpanes--vertical > .splitpanes__splitter {
  border-left: 1px solid rgba(var(--v-theme-on-background), 0.12) !important;
}
