# SPDX-License-Identifier: Apache-2.0
# Copyright 2020 - 2026 Pionix GmbH and Contributors to EVerest

name: Build & Deploy EVerest Admin Panel to GitHub Pages

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' || github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
    env:
      SUBDIR: ${{ github.event_name == 'pull_request' && format('pr-{0}', github.event.pull_request.number) || (startsWith(github.ref, 'refs/tags/v') && 'stable' || 'main') }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup node + pnpm install
        uses: ./.github/actions/setup-node
        with:
          pnpm-version: 9
      - name: Build
        run: pnpm build:pages
      - uses: ahmadnassri/action-workflow-queue@v1 # we have to ensure that no other deployment is running
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: dist # The folder the action should deploy.
          clean: true # Automatically remove deleted files from the deployment
          commit-message: 'Deploying to gh-pages'
          target-folder: ${{ env.SUBDIR }}
      - name: Deploy tagged version to GitHub Pages
        if: startsWith(github.ref, 'refs/tags/v')
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: dist
          clean: true
          commit-message: 'Deploying to gh-pages'
          target-folder: ${{ github.ref_name }}
      - name: Create Job Summary
        uses: actions/github-script@v7
        if: always()
        with:
          script: |
            const ownerRepo = process.env.GITHUB_REPOSITORY;
            const subDir = process.env.SUBDIR;
            const baseUrl = `https://${ownerRepo.split('/')[0]}.github.io/${ownerRepo.split('/')[1]}`;
            const deploymentUrl = `${baseUrl}/${subDir}`;

            console.log(`Deployment URL: ${deploymentUrl}`);
            core.summary.addHeading("Deployment Details")
            .addLink("View Deployment", deploymentUrl)

            if (process.env.GITHUB_REF && process.env.GITHUB_REF.startsWith('refs/tags/v')) {
              const versionedUrl = `${baseUrl}/${process.env.GITHUB_REF_NAME}`;
              console.log(`Versioned Deployment URL: ${versionedUrl}`);
              core.summary.addLink(`View Deployment (${process.env.GITHUB_REF_NAME})`, versionedUrl)
            }

            core.summary.write();
