# SPDX-License-Identifier: Apache-2.0
# Copyright 2020 - 2025 Pionix GmbH and Contributors to EVerest


name: Check and Generate npm-shrinkwrap
# The purpose of this job is to generate an npm-shrinkwrap.json which is needed for the yocto layer

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  create-shrinkwrap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Read .nvmrc
        id: nvmrc
        shell: bash
        run: echo version=$(cat .nvmrc) >> "$GITHUB_OUTPUT"

      - name: Setup Node.js ${{ steps.nvmrc.outputs.version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.nvmrc.outputs.version }}

      - name: Generate npm-shrinkwrap.json
        run: |
          npm install
          npm shrinkwrap

      - name: Publish npm-shrinkwrap.json as Artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: npm-shrinkwrap
          path: npm-shrinkwrap.json

