# SPDX-License-Identifier: Apache-2.0
# Copyright 2020 - 2024 Pionix GmbH and Contributors to EVerest

name: Execute Vitest Unit Tests

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
    tags:
      - '*'
  workflow_dispatch: {}

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node + pnpm install
        uses: ./.github/actions/setup-node
        with:
          pnpm-version: 9
      - name: Run Vitest
        run: pnpm test:coverage
      - name: 'Report Coverage'
        if: always()
        uses: davelosert/vitest-coverage-report-action@v2
